*,
*::before,
*::after, {
  box-sizing: border-box;
}

:root {
  --ff-primary: 'Cormorant', sans-serif;
  --ff-secondary: 'Source Code Pro', monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark: #01497c;
  --clr-accent: #a9d6e5;
  --clr-accent2: #21608d;
  --clr-accent3: #e0f0f6;


  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-h4: 1.2rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
    0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

html{
  scroll-behavior: smooth;
}

body{
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section {
    padding: 5em 2em;
}

.intro-img{
  padding: none;
}

img{
  display: block;
  max-width: 100%;
}

/* typography */

h1,
h2,
h3 {
  line-height: 1.1;
  margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }

.section-title-intro {
    font-weight: var(--fw-reg);
}
.section-title-intro strong {
  font-weight: var(--fw-bold);
  display: block;
}
.section-subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section-subtitle-intro,
.section-subtitle-about {
  background: var(--clr-accent);
  font-family: var(--ff-secondary);
  padding: .25em 1em;
  margin-bottom: 1em;
}

/* Header */

.logo{
  position: absolute;
  margin: none;
  float: left;
  object-fit: cover;
  padding: 2.5px 0px;
  max-width: 180px;
}

.nav{
  overflow: hidden;
  background-color: #000;
  padding-left: 200px;
}

.nav a{
  float: left;
  text-align: center;
  text-decoration: none;
  padding: 21px 18px;
  color: var(--clr-light);
  font-size: var(--fs-h3);
}

.nav-dropdown{
  overflow: hidden;
}

.nav-dropdown .nav-toggle{
  font-size: var(--fs-h3);
  font-family: var(--ff-primary);
  color: var(--clr-light);
  background: #000;
  outline: none;
  border: none;
  padding: 26px 18px;
  text-align: center;
  margin: 0;
}

.nav-dropdown-content{
  display: none;
  position: absolute;
  background-color: var(--clr-accent);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.nav-dropdown-content a{
  float: none;
  display: block;
  text-align: left;
  color: var(--clr-dark);
  padding: 4px 8px;
  font-size: var(--fs-h4);
}

.nav-toggle:hover,
.nav a:hover{
  background: var(--clr-dark);
}

.nav-dropdown-content a:hover{
  background: var(--clr-accent3);
}

.nav-dropdown:hover .nav-dropdown-content{
  display: block;
}

.nav-dropdown{
  color: var(--clr-light);
}

/* Intro */

.intro{
  position: relative;
}

.intro-img{
  box-shadow: var(--bs);
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas:
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .intro-img {
        grid-area: img;
        min-width: 250px;
        position: relative;
    }

    .section-subtitle-intro {
      align-self: start;
      grid-column: -1 / 1;
      grid-row: 2;
      text-align: right;
      position: relative;
      left: -1.5em;
      width: calc(100% + 1.5em);
    }
}

.about-me{
  max-width: 1000px;
  margin: 0 auto;
  background: var(--clr-dark);
  color: var(--clr-light);
}

.about-me-img {
    box-shadow: var(--bs);
}

@media (min-width: 600px) {
  .about-me{
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-column-gap: 2em;
    grid-template-areas:
      "title img"
      "subtitle img"
      "text img";
  }

  .section-title-about{
    grid-area: title;
  }

  .section-subtitle-about{
    grid-column: 1 / -1;
    grid-row: 2;
    position: relative;
    left: -1em;
    width: calc(100% + 0.5em);

  }

  .about-me-img {
    grid-area: img;
    position: relative;
  }
}

/* Footer */

.footer {
  background: #111;
  color: var(--clr-accent);
  text-align: center;
  padding: 2.5em 0;
}

.footer-link{
  font-size: var(--fs-h4);
  font-weight: 600;
}
.footer a {
  color: inherit;
}

.footer-link:link{
  text-decoration: none;
}

.footer-link:hover{
  text-decoration: underline;
}

.footer-link:hover,
.social-link:hover {
  opacity: .7;
}

.social-list{
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0;
  padding: 0;
}

.social-list-item{
  margin: 0 .25em;
}

.social-list-link{
  padding: .5em;
}


/* footer */
.coding{
  max-width: 1000px;
  margin: 0 auto;
}
.section-body-coding{
  background: var(--clr-dark);
  color: var(--clr-light);
  padding: 1em 1em;
}

.section-body-coding a{
  color: var(--clr-light);
  font-size: var(--fs-h3);
}

.section-body-coding li{
  font-size: 0.925rem;
}

.section-subtitle-coding{
  background: var(--clr-accent);
  font-size: var(--fs-h3);
}
